# Equipment Task Overview

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv("../../Orb/EquipmentTask_LD118.csv")

## Column overview

In [6]:
list(zip(df.columns, [type(x) for x in df.ix[0,:]]))

[('Unnamed: 0', numpy.int64),
 ('StartDateTime', str),
 ('EndDateTime', str),
 ('EquipmentName', str),
 ('ActivityName', str),
 ('SubActivityName', float),
 ('ActivityCategoryName', str),
 ('LocationName', str),
 ('PanelCave', str),
 ('Operator', str),
 ('OperatorLoginDateTime', numpy.float64),
 ('OrderStartDateTime', numpy.float64),
 ('OrderLocationName', float),
 ('DataSource', str),
 ('_CreatedInOrbBy', str),
 ('_CreatedInOrbAt', str),
 ('_LastUpdatedInOrbBy', str),
 ('_LastUpdatedInOrbAt', str),
 ('_UpdatedInOneViewAt', str),
 ('ActivityGroup', float),
 ('CumulativeEngineHours', numpy.float64)]

In [3]:
df.head(3)

,Unnamed: 0,StartDateTime,EndDateTime,EquipmentName,ActivityName,SubActivityName,ActivityCategoryName,LocationName,PanelCave,Operator,...,OrderStartDateTime,OrderLocationName,DataSource,_CreatedInOrbBy,_CreatedInOrbAt,_LastUpdatedInOrbBy,_LastUpdatedInOrbAt,_UpdatedInOneViewAt,ActivityGroup,CumulativeEngineHours
0,1,2016-11-01 06:59:59,2016-11-01 18:59:59,LD118,Unknown,NaN,Unknown,Offsite,Cadia,8e0f023b8f94264c7900395406d6e4b41b97ff3a9662ee...,...,NaN,NaN,PITRAM,Orb,2016-11-01 07:04:10,Orb,2016-11-01 19:01:43,2016-11-01 19:02:00,NaN,NaN
1,2,2016-11-01 18:59:59,2016-11-02 06:59:59,LD118,Unknown,NaN,Unknown,Offsite,Cadia,8e0f023b8f94264c7900395406d6e4b41b97ff3a9662ee...,...,NaN,NaN,PITRAM,Orb,2016-11-01 19:01:42,Orb,2016-11-02 07:01:39,2016-11-02 07:02:41,NaN,NaN
2,3,2016-11-02 06:59:59,2016-11-02 18:59:59,LD118,Unknown,NaN,Unknown,Offsite,Cadia,8e0f023b8f94264c7900395406d6e4b41b97ff3a9662ee...,...,NaN,NaN,PITRAM,Orb,2016-11-02 07:01:38,Orb,2016-11-02 19:01:31,2016-11-02 19:01:49,NaN,NaN

In [4]:
col_analysis = pd.DataFrame
# for col in df.columns:
    # overview value counts for each column
    # TODO change to adding to a row format thing
#     print(df[col].value_counts().head(3))
# print(col_analysis)

2047     1
10880    1
14978    1
Name: Unnamed: 0, dtype: int64
2017-02-15 14:32:27    2
2016-11-16 06:59:59    2
2017-01-01 19:16:58    2
Name: StartDateTime, dtype: int64
2016-12-10 10:39:57    2
2016-12-01 21:41:28    2
2016-12-09 22:28:20    2
Name: EndDateTime, dtype: int64
LD118    19450
Name: EquipmentName, dtype: int64
Bogging           10960
Wait Red Light     5539
Bunding             685
Name: ActivityName, dtype: int64
Other               17
Automation/MPM      16
Automation / MPM    10
Name: SubActivityName, dtype: int64
Operating (Core)        11752
Idle (Required)          6475
Operating (Non Core)      525
Name: ActivityCategoryName, dtype: int64
112W12    586
112W03    521
118W06    514
Name: LocationName, dtype: int64
PC1      19288
Cadia      162
Name: PanelCave, dtype: int64
67d51998776df6c4765ebe103d5e4ab8c62f2ae1c1377da0862caacd6411b825    3089
5317550a53952273b1d7d37694877e514c49abf089871d5945f8674b966bcd80    1775
094c68186f33332bfeb662f33d65a41a60720296fba85eb006294319a0d35226    1716
Name: Operator, dtype: int64
42725.504190    287
42702.246568    206
42695.745765    196
Name: OperatorLoginDateTime, dtype: int64
42725.482407    219
42713.679028     74
42686.773993     68
Name: OrderStartDateTime, dtype: int64
112W12    598
118W06    540
112W10    511
Name: OrderLocationName, dtype: int64
DCS Triggered - red light                5041
DCS Triggered - green light after red    4977
ORB SAOC                                 2730
Name: DataSource, dtype: int64
Orb       18114
Manual     1336
Name: _CreatedInOrbBy, dtype: int64
2016-11-28 09:45:40    9
2016-11-11 10:03:20    6
2017-02-25 15:12:18    4
Name: _CreatedInOrbAt, dtype: int64
Orb       19399
Manual       51
Name: _LastUpdatedInOrbBy, dtype: int64
2016-11-28 09:45:40    9
2017-01-20 16:00:32    7
2017-01-20 16:00:31    7
Name: _LastUpdatedInOrbAt, dtype: int64
2017-02-02 12:16:43    4338
2017-02-02 12:15:50    2488
2017-02-02 12:15:11     177
Name: _UpdatedInOneViewAt, dtype: int64
Core Operating        11752
Delayed                6476
Non Core Operating      525
Name: ActivityGroup, dtype: int64
2145    3
1985    2
2988    2
Name: CumulativeEngineHours, dtype: int64

## Column clean up

* rename **Unnamed: 0** to index
* **EquipmentName** is always the same bogger LD118
* **TimeTaken** is the delta between the timestamp **StartDateTime** and **EndDateTime**
* **ActivityName**
* **SubActivityName**
* **ActivityCategoryName**
* **LocationName**
* probably not important **PanelCave**
* **Operator** is important for comparing operator
* probably important **OperatorLoginDateTime**
* probably important **OrderStartDateTime**
* probably important **OrderLocationName**
* probably important **DataSource**
* see no use for **_CreatedInOrbBy** & **_LastUpdatedInOrbBy**: Orb, Manual
* see no need for times: **StartLoadedDateTime**, **_LastUpdatedInOrbAt**, **_UpdatedInOneViewAt**
* probably important **ActivityGroup**
* probably important **CumulativeEngineHours**

In [7]:
df_min = df.filter([
    'Unamed: 0',
    'StartDateTime',
    'EndDateTime',
    'ActivityName',
    'SubActivityName',
    'ActivityCategoryName',
    'LocationName',
    'Operator',
    'OperatorLoginDateTime',
    'OrderStartDateTime',
    'OrderLocationName',
    'DataSource',
    'ActivityGroup',
    'CumulativeEngineHours'], axis=1)

# parse dates
for time_field in ['StartDateTime', 'EndDateTime']:
    df_min[time_field] = df_min[time_field].apply(lambda x:pd.to_datetime(x))

# create time delta field
df_min['TimeTaken'] = df_min['EndDateTime'] - df_min['StartDateTime']
df_min['TimeTakenSec'] = df_min['TimeTaken'].apply(lambda x: x/np.timedelta64(1, 's'))

df_min.head(3)

,StartDateTime,EndDateTime,ActivityName,SubActivityName,ActivityCategoryName,LocationName,Operator,OperatorLoginDateTime,OrderStartDateTime,OrderLocationName,DataSource,ActivityGroup,CumulativeEngineHours,TimeTaken,TimeTakenSec
0,2016-11-01 06:59:59,2016-11-01 18:59:59,Unknown,NaN,Unknown,Offsite,8e0f023b8f94264c7900395406d6e4b41b97ff3a9662ee...,NaN,NaN,NaN,PITRAM,NaN,NaN,12:00:00,43200
1,2016-11-01 18:59:59,2016-11-02 06:59:59,Unknown,NaN,Unknown,Offsite,8e0f023b8f94264c7900395406d6e4b41b97ff3a9662ee...,NaN,NaN,NaN,PITRAM,NaN,NaN,12:00:00,43200
2,2016-11-02 06:59:59,2016-11-02 18:59:59,Unknown,NaN,Unknown,Offsite,8e0f023b8f94264c7900395406d6e4b41b97ff3a9662ee...,NaN,NaN,NaN,PITRAM,NaN,NaN,12:00:00,43200

In [8]:
list(zip(df_min.columns, [type(x) for x in df_min.ix[0,:]]))

[('StartDateTime', pandas.tslib.Timestamp),
 ('EndDateTime', pandas.tslib.Timestamp),
 ('ActivityName', str),
 ('SubActivityName', float),
 ('ActivityCategoryName', str),
 ('LocationName', str),
 ('Operator', str),
 ('OperatorLoginDateTime', numpy.float64),
 ('OrderStartDateTime', numpy.float64),
 ('OrderLocationName', float),
 ('DataSource', str),
 ('ActivityGroup', float),
 ('CumulativeEngineHours', numpy.float64),
 ('TimeTaken', pandas.tslib.Timedelta),
 ('TimeTakenSec', numpy.float64)]

## TODO

* review as there are a lot of empty fields
* which to plot as a value count? which as a sum over time histogram?